@use "sass:math";

@mixin text-glow($color, $intensity: 1) {
  text-shadow: 0 0 (5px * $intensity) $color, 0 0 (10px * $intensity) $color,
    0 0 (20px * $intensity) $color;
}

@function random-rotate-seed() {
  $seed: unique-id(); // Génère une seed unique
  $random: math.floor(math.sin(str-length($seed)) * 121 - 61);
  @return #{$random}deg;
}

@mixin rotate-random() {
  $random: random-rotate-seed();
  transform: rotate(#{$random});
}

@mixin fadeIn($duration: 0.5s, $delay: 0s) {
  @keyframes fadeIn {
    0% {
      opacity: 0; // Commence complètement transparent
      transform: translateY(20px); // Optionnel : déplace légèrement vers le bas
    }
    100% {
      opacity: 1; // Devient complètement opaque
      transform: translateY(0); // Remet à sa position d'origine
    }
  }

  animation: fadeIn $duration ease forwards; // Applique l'animation
  animation-delay: $delay; // Permet d'ajouter un délai si nécessaire
}
