@use "./placeholders";
@use "variables" as *; // Importe toutes les variables
@import "./mixins";

a {
  text-decoration: none;
  color: unset;
}
ul,
li {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative; // Nécessaire pour le positionnement absolu des lumières
  overflow-x: hidden;
  background-color: $background-color;
}

.class-container {
  @include fadeIn(1s, 2.5s);
  z-index: 1;
  width: 100vw;
  @extend %flex-center;
}
