.second-title {
  color: lightgray;
  margin-bottom: 1rem;
  @media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
    font-size: large;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 2rem auto;
  color: lightgray;
  padding: 0 2.5rem;
}

.form-input,
.form-textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  color: lightgray;

  @media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
    font-size: x-large;
  }
}

.form-textarea {
  height: 10rem;
}

.form-button {
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  @media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
    font-size: x-large;
  }

  &:hover {
    filter: brightness(0.9);
  }
}

.form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
