@use "variables" as *;
@import "./_placeholders";
@import "./_mixins";

.nav-bar {
  @extend %flex-center;
  z-index: 10;
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  color: white;

  @include fadeIn(1s, 0.5s);

  /*  @media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px){    height: 10rem;
  }
 */
  .routes-container {
    @extend %flex-center;
    gap: 1rem;
    flex-direction: row;
    font-size: large;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    background-color: $background-color;
    border: 1px inset white;
    pointer-events: all;

    @media screen and (max-width: 768px) {
      width: 80vw;
      font-size: medium;
      gap: 0.25rem;
      padding: 0;
      justify-content: space-around;
      padding: 0.5rem 0;
    }

    .title {
      @extend %flex-center;
      cursor: pointer;
      height: 100%;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1) translateY(-2px);
        @include text-glow(white, 1.1);
      }
    }
  }
}
.selected-language:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.select-language {
  position: absolute;
  top: 1rem;
  right: 1rem;
  @extend %flex-center;
  flex-direction: column;
  gap: 0.25rem;
  cursor: pointer;
  pointer-events: all;

  @media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
    top: 0.5rem;
    right: 0.5rem;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 4px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}

.language-flag {
  img:hover {
    filter: brightness(0.9);
  }
}
