@import "./placeholders";
@import "./mixins";

.personal-infos {
  width: 100vw;
  @extend %flex-center;
  min-height: 100vh;
}
.me {
  @extend %flex-center;
  opacity: 0;
  @include fadeIn(1s, 1s);
  gap: 0.5rem;
  position: relative;
  z-index: 1;
  .img-container {
    position: relative;
    border-radius: 50%;
    width: 7.5rem;
    @media only screen and (max-width: 728px), only screen and (max-device-width: 728px) {
      width: 5rem;
    }
    aspect-ratio: 1/1;
    transition: transform 0.3s ease;

    .pic-me {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .img-flag {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }

  .text-container {
    @extend %flex-center;
    flex-direction: column;

    .me-flag {
      width: 100%;
    }
  }
}

.big-title-name {
  font-size: xx-large;
  @media only screen and (max-width: 728px), only screen and (max-device-width: 728px) {
    font-size: large;
  }
}

.big-title {
  font-size: 6rem;
  @extend %flex-center;
  text-align: center;
  font-weight: bold;
  line-height: 0.9;
  @include fadeIn(1s, 1.5s);
  @media only screen and (max-width: 728px), only screen and (max-device-width: 728px) {
    font-size: xx-large;
  }
}

.contacts {
  @extend %flex-center;
  margin-top: 1.5rem;
  gap: 1rem;

  opacity: 0;
  @include fadeIn(1s, 2s);

  a {
    position: relative;
    cursor: pointer;

    &:hover .tooltip {
      display: block;
    }
  }
}

.reflect {
  @extend %flex-center;
  border-radius: 50%;
  width: 4rem;
  aspect-ratio: 1/1;
  border: 1px inset white;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;

  @media only screen and (max-width: 728px), only screen and (max-device-width: 728px) {
    width: 3rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-20deg);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0;
  }

  &:hover {
    transform: scale(1.05);

    &::after {
      left: 120%;
      opacity: 1;
    }
  }
}
