@use "mixins.scss";
@use "placeholders.scss";
@use "variables" as *; // Importe toutes les variables

.project {
  width: 40%;
  aspect-ratio: 1/1;
  background-color: $background-color;
  border: 1px inset white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.01) translateY(-2px);
  }
  .image-container {
    height: 45%;
    background-color: blue;
  }

  .infos {
    padding: 0 0.5rem;
    height: 55%;
    .first-line {
      height: 15%;

      font-size: medium;
      font-weight: bold;
      display: flex;

      .name {
        flex: 1;
        text-align: left;
        display: flex;
        align-items: center;
      }
      .discover {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        align-items: center;
        text-align: end;
        text-decoration: underline;

        &:hover {
          svg {
            transform: translateX(10px);
          }
        }

        svg {
          transition: transform 0.3s ease-in-out;
        }
      }
    }

    .description {
      height: 40%;
      color: lightgray;
      padding: 0.5rem;
    }
    .stack {
      display: flex;
      padding: 0.5rem;
      flex-wrap: wrap;
      gap: 0.25rem;

      font-size: small;

      * {
        padding: 0.25rem;
        background-color: whitesmoke;
        border-radius: 0.25rem;
        color: black;
        height: auto;
      }
    }
  }
}
