@use "./placeholders";
@use "variables" as *; // Importe toutes les variables
@use "./mixins" as *;

@function fadeInDelay($index) {
  @return $index * 0.2s; // Délai de 0.2 secondes par index
}

.project-page {
  background-color: $background-color;
  width: 100vw;
  color: white;
  @extend %flex-center;
  flex-direction: column;

  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    @extend %flex-center;
    gap: 5rem;

    .title {
      width: 80%;
      font-size: x-large;
    }
    .content {
      display: flex;
      width: 80%;
      height: 50%;

      .features-list {
        height: 100%;
        overflow-y: auto;
        width: 25%;
        display: flex;
        flex-direction: column;
        border: 1px white inset;
        border-radius: 0.25rem 0 0 0.25rem;

        li {
          filter: brightness(0.6);
          width: auto;
          cursor: pointer;
          opacity: 0;
          @include fadeIn(0.5s, var(--delay));
          display: flex;
          gap: 0.25rem;
          padding: 0.75rem 1rem;

          &:hover {
            filter: brightness(1);
          }
        }
      }
      .details {
        width: 75%;
        padding: 0.5rem 1rem;
        border: 1px white inset;
        overflow-y: auto;
        border-radius: 0.25rem 0.25rem 0;

        .description {
          width: 100%;
          opacity: 0;
          @include fadeIn(0.5s, 0);

          p,
          li,
          td,
          th {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            max-width: 100%;
            white-space: normal; // Permet le retour à la ligne naturel
            font-size: medium;
          }

          code,
          pre {
            max-width: 100%;
            white-space: pre-wrap; // Permet le retour à la ligne pour  la mise en forme du code
          }
        }
        .image {
          width: 100%;
        }
      }
    }

    .other-projects {
      width: 80%;
      height: 5rem;

      .title {
        font-size: x-large;
      }
      .other-projects-container {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-left: 1rem;
        gap: 2rem;

        .proj-name {
          cursor: pointer;
          &:hover {
            @include text-glow(white, 1.1);
          }
        }
      }
    }
  }
}
