.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
    width: 90vw;
  }
  .title {
    width: 50vw;
    font-size: x-large;
    @media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
      width: 90vw;
      font-size: xx-large;
    }
  }
  .projects-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 2rem;
    padding: 2rem 0;
  }
}
